[MASTER]
init-hook='import sys; sys.path.insert(0, "."); import django; django.setup()'
load-plugins=pylint_django

[MESSAGES CONTROL]
disable=
    no-member,
    C0114,
    C0115,
    C0116

[FORMAT]
max-line-length=120