{% extends "base.html" %}
{% block title %}Reset your password - Django Blog{% endblock %}

{% block content %}
  <div class="login__page">
    <h2 class="login__title blog-list__title">Reset your password</h2>
    <div class="login__body">

      <p class="login__description">
        Enter your email address below, and we'll send you a link to reset your password.
      </p>

      <form method="post" class="login__form" novalidate>
        {% csrf_token %}

        <div class="login__django-form-email login__django-form">
          <label for="{{ form.email.id_for_label }}">
            {{ form.email.label }}
          </label>
          {{ form.email }}
          {% if form.email.errors %}
            <ul class="login__error-list">
              {% for error in form.email.errors %}
                <li class="login__error-text">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>

        <div class="login__django-form-actions">
          <button type="submit" class="login__django-form-btn-login button">Send reset link</button>
        </div>
      </form>

    </div>
  </div>
{% endblock %}