{% extends "base.html" %}
{% block title %}Set a new password - Django Blog{% endblock %}

{% block content %}
  <div class="login__page password_reset_confirm__page">
    <h2 class="login__title password_reset_confirm__title blog-list__title">Set a new password</h2>
    <div class="login__body password_reset_confirm__body">

      {% if validlink %}
        <form method="post" class="login__form" novalidate>
          {% csrf_token %}

          {% for field in form %}
            <div class="login__django-form login__django-form-{{ field.name }}">
              <label for="{{ field.id_for_label }}">
                {{ field.label }}
              </label>
              {{ field }}
              {% if field.errors %}
                <ul class="login__error-list">
                  {% for error in field.errors %}
                    <li class="login__error-text">{{ error }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endfor %}

          {% if form.non_field_errors %}
            <ul class="login__error-list">
              {% for error in form.non_field_errors %}
                <li class="login__error-text">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}

          <div class="login__django-form-actions">
            <button type="submit" class="login__django-form-btn-login button">Change password</button>
          </div>
        </form>
      {% else %}
        <p class="login__error-text">The password reset link is invalid or has expired.</p>
      {% endif %}

    </div>
  </div>
{% endblock %}