{% extends 'blog/base.html' %}

{% block content %}
<div class="card comment-form-card">
    <h3>Add a Comment</h3>
    <form method="POST" class="post-form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.author.label_tag }}
            {{ form.author }}
        </div>
        <div class="form-group">
            {{ form.text.label_tag }}
            {{ form.text }}
        </div>
        <button type="submit" class="btn btn-green">
            <i class="fas fa-comment-alt"></i> Submit
        </button>
    </form>
</div>
{% endblock %}