{% extends 'blog/base.html' %}

{% block content %}
<div class="blog-list__page">
    <div class="blog-list__items">
        <h2 class="blog-list__title">Posts:</h2>
        {% for post in posts %}
        <div class="blog-list__item blog-list__item--anim">
            <h4 class="blog-list__item-title">
                <a href="{% url 'post_detail' pk=post.pk %}" class="text-dark">{{ post.title }}</a>
            </h4>
            <p class="blog-list__item-text">{{ post.text|truncatechars:250 }}</p>
            <div class="blog-list__item-footer">
                <a href="{% url 'post_detail' pk=post.pk %}" class="blog-list__item-post-link">Read More</a>
                <div class="blog-list__item-data-and-item-comment-link">
                    <div class="blog-list__item-data"> {{ post.published_date|date:"d M Y" }} </div>
                    <a href="{% url 'post_detail' pk=post.pk %}" class="blog-list__item-comment-link">
                        {{ post.approved_comments.count }} comment{{ post.approved_comments.count|pluralize }}
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}