{% extends 'base.html' %}

{% block content %}
    <div class="post__page">
        <h2 class="blog-list__title">Post:</h2>
        {% include '_helpers/_messages.html' %}
        <div class="post__item">
            <div class="post__body">
                <h2 class="post__title">{{ post.title }}</h2>
                <p class="post__text">{{ post.text|linebreaksbr }}</p>
                {% if post.published_date %}
                    <div class="post__data">
                        {{ post.published_date | date:"H:i - d.m.Y" }}
                    </div>
                {% endif %}
                {% if user.is_authenticated %}
                    <div class="post__actions">
                        {% if not post.published_date %}
                            <form method="POST" action="{% url 'blog:post_publish' pk=post.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="post__publish-btn button button--mini">Publish</button>
                            </form>
                        {% endif %}
                        <a href="{% url 'blog:post_edit' pk=post.pk %}"
                           class="post__edit-btn button button--white-border button--mini">Edit</a>
                        <form method="POST" action="{% url 'blog:post_remove' pk=post.pk %}">
                            {% csrf_token %}
                            <button type="submit"
                                    class="post__delete-btn button button--white-border button--mini">Delete
                            </button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% include 'blog/comments_list.html' %}

{% endblock %}

